html,
body,
#e {
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

#e {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: bolder;
  background-color: #323232;
  color: white;
}